<h1>New partenaire</h1>

<% form_for(@partenaire) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Enregistrer' %>
  </p>
<% end %>

<%= link_to 'Retour', partenaires_path %>