<div class="span-16">
	<p>
	  <b>Nom:</b>
	  <%= @lien.nom %>
	</p>

	<p>
	  <b>Adresse:</b>
	  <%= @lien.adresse %>
	</p>

<% if current_user %>
	<%= link_to 'Modifier', edit_lien_path(@lien), :class => "btn btn-sm" %> |
<% end %>
	<%= link_to 'Retour', liens_path, :class => "btn btn-sm" %>
</div>
