div.footer {
	background: url(../images/bckg-footer.gif) repeat-x;
	position: relative;
	bottom: 0;
	z-index: -1;
	width: 100%;
	color: white;
	text-align: center;
	height: 100px;
}

div.texte-footer {
	position: relative;
	z-index: 0;
	height: 100px;
	width: 100%;
	text-align: center;
	display: inline-block;
	bottom: 85px;
	color: white;
}

div.texte-footer a {
	color: yellow;
}

div.texte-footer a:hover {
	color: #e5ff24;
}

div.footer div#texte {
	margin-top: 15px;
	display: block;
}

div#header {
	background: url(../images/logo-srias_02.jpg) no-repeat left;
	height: 90px;
	border-bottom: 2px solid #9cbd15;
}

div#header div#user_nav {
	top: 70px;
	width: 200px;
	display: block;
	position: relative;
	margin-left: 725px;
	text-align: right;
}

div#colibri {
	position: absolute;
	z-index: -2;
	background-color: transparent;
	bottom: -5px;
	display: inline-block;
	left: 475px;
}

ul.menubar {
	background: url(../images/bckg-menubar_02.jpg) no-repeat;
	width: 128px;
	height: 255px;
	padding-top: 20px;
	margin-top: 20px;
}

ul.menubar li {
	list-style-type: none;
	border-bottom: 2px solid #39485e;
	margin-bottom: 10px;
	margin-left: -20px;
	width: 100px;
}

ul.menubar li:hover {
	border-bottom: 4px solid #faf21d;
}

ul.menubar li>a {
	font-weight: bold;
	text-decoration: none;
	color: #0a001e;
	width: 120px;
	display: block;
}

ul.menubar li>a:hover {
	color: #5c06b7;
	font-size: 1.3em;
}

div.pubs {
	height: 424px;
	background: transparent url(../images/bckg-rightcol_05.png) no-repeat 0 top;
	text-align: center;
	padding-top: 20px;
	margin-top: 20px;
	width: 150px;
}

div#newsletter-form {
	background: url(../images/bckg-newsletter_05.png) no-repeat;
	width: 158px;
	padding-top: 20px;
	text-align: center;
	height: 133px;
}

div.addon-menus ul li {
	list-style-type: none;
	border-bottom: 2px solid #39485e;
	margin-bottom: 10px;
	margin-left: -20px;
	width: 100px;

}

div.addon-menus ul li:hover {
	border-bottom: 4px solid #faf21d;	
}

div.addon-menus ul li>a {
	font-weight: bold;
	text-decoration: none;
	color: #0a001e;
	width: 120px;
	display: block;
}

div.addon-menus ul li>a:hover {
	color: #5c06b7;
	font-size: 1.3em;	
}

h1 {
	text-align: center;
	color: #39485e;
	text-shadow: #aeb0b0 -1px -1px 0;
	margin-top: 15px;
}

h3 {
	text-align: center;
	color: #39485e;
	font-weight: bold;
}

div#newsletter-form h4 {
	margin-bottom: 0;
	font-weight: bold;
	font-style: italic;
}

div#newsletter-form div#result {
	margin-top: -10px;
	color: #faf21d;
}

div#bandeau {
	background: url(../images/bg-bandeau.png) no-repeat left top;
	width: 630px;
	height: 38px;
	padding-top: 10px;
	padding-left: 10px;
	color: #0a001e;
	font-size: 1.5em;
	font-weight: bold;
}

div.pubs h5 {
	color: #5c06b7;
	margin-bottom: 0;
	font-size: 1.1em;
}

div.pubs p.contacts {
	font-size: 0.95em;
}

p {
}

a {
	font-weight: bold;
	text-decoration: underline;
	color: #ad2a6b;	
}

a:hover {
	font-weight: bold;
	color: #5c06b7;
	font-size: 1.1em;
}

span.nom-manif {
	color: #0a001e;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 1.5em;
}

p.mini-diapo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p.nom-mission {
	font-size: 1.4em;
	font-weight: bold;
	border-bottom: 3px solid #26394c;
	width: 35%;
	color: #0a001e;
}