<% content_for :head do %>
  <script type="text/javascript" src="javascripts/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="javascripts/jquery.coda-slider-2.0.js"></script>
	 <script type="text/javascript">
		$().ready(function() {
			$('#coda-slider-1').codaSlider({
			  autoSlide: true,
			  autoSlideInterval: 5000,
			  autoSlideStopWhenClicked: true,
			  dynamicArrows:false
			});
		});
	 </script>
<% end %>

<div class="coda-slider-wrapper">
  <div class="coda-slider preload" id="coda-slider-1">
    <%- unless @actions.empty? -%>
      <% for action in @actions %>
        <div class="panel">
          <div class="panel-wrapper">
            <% unless action.photos.empty? %>
              <p class="annonce-image">
                <%= image_tag action.photos.first.photo.url(:thumb)  %>              
              </p>
            <% end %>
            <p class="annonce-texte">
              <span class="date"><%= action.date_debut.strftime("%d/%m/%Y") %></span> : <span class="nom"><%= link_to action.nom, uneaction_path(action.id) %></span> <span class="lieu"><%= lieu(action) %></span>
            </p>            
          </div>
        </div>
      <%- end -%>
    <%- end -%>
  </div>
</div>