<div class="pubs">
	<h5>Contacts :</h5>
	<br/>
	<p class="contacts">
		<b>Président <br/>M. Guillou Georges</b><br/>
		<b> 0690 39 12 58</b><br/>
		<%= mail_to("srias971@orange.fr", "srias971@orange.fr") %>	
		<br/><br/>	
		<b>Corr. administratif<br/>M. Legrave Jean-Denis</b><br/>
 	   <b>Tel : 0590 99 38 81</b><br/>
 	   <b>Fax : 0590 99 38 29</b>
	</p>
	
	<p>

	</p>
</div>