<div class="span-16">
	<%= render :partial => "shared/flash_messages" %>
	
	<h1 class="section-title">Actions</h1>
	
	<div id="manifs">
		<%= render :partial => 'manifs_list', :object => @manifestations, :locals => {:actions_link => @actions_links} %>
	</div>

	<br />
	<% if can? :create, Manifestation %>
		<%= link_to 'Ajouter une action', new_manifestation_path(), :class => "btn btn-primary btn-sm" %>
	<% end %>
	<% if can? :modify, Manifestation %>
		<%= link_to "Actions et Manifestations à Valider #{Manifestation.pending.count}", pending_manifestations_path(), :remote => true, :method => :put, :class => "btn btn-primary btn-sm" %>
	<% end %>
</div>
