<h1 class="section-title">Modifier cette information</h1>

<%= render 'form' %>

<%= link_to 'Voir', @information, :class => "button small" %>
<%= link_to 'Retour', informations_path(), :class => "button small" %>
