<h1 class="section-title">Modifier cette information</h1>

<%= render 'form' %>

<%= link_to 'Voir', @information, :class => "btn btn-sm btn-succcess" %>
<%= link_to 'Retour', informations_path(), :class => "btn btn-sm" %>
