<h1 class="section-title">Modifier le prestataire</h1>

<%= render 'form' %>

<%= link_to 'Voir', @prestataire, :class => "btn btn-sm btn-success" %>
<%= link_to 'Retour', prestataires_path, :class => "btn btn-sm" %>
