<div class="span-16">
  <h1 class="section-title">Nouvelle Annonce</h1>

  <%= render :partial => 'form', :object => @annonce %>

  <%= link_to 'Retour', annonces_path, :class => "btn btn-sm" %>
</div>
