<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Newsletter du SRIAS de Guadeloupe</title>
	
</head>

<body>
	<h1 class="section-title"><%= @newsletter.titre %></h1>
	
	<p>
		<%=raw @newsletter.sommaire %>
	</p>
	
	<p>
		<%=raw @newsletter.content %>
	</p>
</body>
</html>
