<div class="span-16">
  <h1>Modifier une offre</h1>

    <%= render :partial => 'form', :object => @offre %>

  <%= link_to 'Voir', @offre %> |
  <%= link_to 'Retour', partenaire_offres_path(@partenaire) %>
</div>
