<div class='span-16'>
	<p>
	  <b>Content:</b>
	  <%= @texte_accueil.content %>
	</p>


	<%= link_to 'Edit', edit_texte_accueil_path(@texte_accueil) %> |
	<%= link_to 'Back', texte_accueils_path %>
</div>
