@import "common";

html {

	body {
		background:white;
		margin:0;
		padding:0;
		font-family:Helvetica,Verdana;
		font-size:12px;
		letter-spacing:1px;
		color:darken($myGray, 75%);

		#header {
			width:100%;
			height:105px;
			background:image-url("bg-header.png") repeat-x;
			display:block;
			margin-top:0px;
			#logo {
				margin-left:10px;
				display:inline-block;
				width:100%;
				p {
					@include custom-font('fonts/Ayuthaya.ttf', "Ayuthaya", normal, 16px);
					color:white;
					margin-top:10px;
				}
				img{
					float:left;
					margin-right:20px;
				}
			}

			#vignettes_hd {
				display:block;
				position:relative;
				margin-left:500px;
				margin-top:-105px;
			}
		}

		#content {
			min-height:580px;
			display:block;

			.coda-slider-wrapper { 
				clear:none;
				background: lighten($myGray,2%);
				border-radius:5px;
				border:1px solid darken($myGray, 10%);
				margin-bottom:10px;

				/* Change the width of the entire slider (without dynamic arrows) */
				.coda-slider, .coda-slider .panel { 
					width: 700px;
					// margin-left:15px;
					background:transparent;
				} 

				div.panel-wrapper {
				  min-height:130px;

				  p.annonce-texte {
				  	a.nom, span.nom {
				  		@include custom-font("fonts/Ayuthaya", 'Ayuthaya');
				  		color:darken($myOrange,10%);
				  		text-decoration:none;
				  	}

				  	span.lieu-date {
				  		font-size: 1.3em;
				  		font-weight:bold;
				  	}
				  }
				  p.annonce-image {
				  	img {
				  		float: left;
				  		margin-right:10px;
						border-radius:4px;
				  	}
				  }
				}
			 }

			#left_sidebar {
				float:left;
				display:block;
				width:204px;
				height:100%;
				margin-right:10px;
				margin-top:25px;
				margin-left:10px;

				#login_box {
					margin-top:0px;
					margin-bottom:10px;
					@include buttons-style;
				}

				.menus_box {
					h3.h3_hd {
						@include menu-h3;
						@include custom-font('fonts/Ayuthaya.ttf', "Ayuthaya", normal, 15px);
						color:white;
					}

					ul {
						list-style:none;
						background:$myGray;
						padding-top:5px;
						padding-bottom:10px;
						margin-top:-5px;
						a {
							color:darken($myYellow, 20%);
							text-decoration:none;
							@include custom-font('fonts/Ayuthaya.ttf', "Ayuthaya", normal, 13px);
							&:hover {
								text-decoration:underline;
								color:darken($myYellow, 30%);
							};
						}
					}

					form#new_abonne {
						text-align:center;
						background:$myGray;
						padding-top:5px;
						padding-bottom:5px;
						margin-top:-5px;
					}

					#result {						
						padding:10px;
						background: -webkit-gradient(
						  linear,
						  left top,
						  left bottom,
						  from(#44cd18),
						  to(#37a715)
						);
						background: -moz-linear-gradient(
						  center bottom,
						  #37a715,
						  #44cd18 60%
						);  
						color:lighten($myYellow,20%);
						font-weight:bold;
					}
				}
			}

			#main_content {
				width:716px;
				margin-left:230px;
				margin-top:25px;
				margin-bottom:25px;
				@include buttons-style;

				div.partenaire {
					margin-bottom :30px;
					border-bottom:1px solid $myGray;
				}

				div.prestataire {
					display:block;
					border-radius:4px;
					background:$myGray;
					margin-bottom:20px;
					padding:10px;
					// min-height:60px;
					// img {float:left;}
				}

				#flash_messages {
					text-align:center;
					color:white;
					margin-bottom:5px;
					.alert {
						display:block;
						background:red;
						width:70%;
						margin-left:auto;
						margin-right:auto;
						border-radius:5px;
					}
					.notice {
						display:block;
						padding:10px;
						background:#44cd18;
						width:70%;
						margin-left:auto;
						margin-right:auto;
						border-radius:5px;
					}
				}

				p.lieu-date {
					font-size:1.5em;
					text-align:center;
				}

				h1.section-title {
					text-align:center;
					font-size:22px;
					display:block;
					width:400px;
					padding:5px;
					color:darken($myGray,50%);
					border-radius:2px;
					border:solid 1px darken($myGray,10%);
				  	margin:0px;
				  	margin-bottom:10px;
				  	margin-left:auto;
				  	margin-right:auto;
				  	background:$myGray;
				}

				a.small {
					width:70px;
					padding:5px;
					display:inline-block;
					font-size:11px;
					background: -webkit-gradient(
			    		linear,
			    		left top,
			    		left bottom,
			    		from(#44cd18),
			    		to(#37a715)
			    	);
			    	background: -moz-linear-gradient(
			    		center bottom,
			    		#37a715,
			    		#44cd18 60%
			    	);	
			    	color: white;
				}

				a.small, x:-moz-any-link, x:default {
					width:80px;
				}

				a.medium {
					width:300px;
				}
				a.midmedium {
					width:200px;
				}
				p.nom-mission {
					@include custom-font('fonts/Ayuthaya.ttf', "Ayuthaya", normal, 16px);
					display:block;
					background:lighten($myYellow,30%);
					padding:5px;
					border-radius:5px;
					text-align:center;
					border:1px solid $myGray;
				}
				p.mini-diapo {text-align:center;}
				p.titre-manif {
					span.nom-manif {
						@include custom-font('Geneva', "Geneva", bold, 20px);
						color:darken($myOrange,10%);
					}
					@include custom-font('fonts/Ayuthaya.ttf', "Ayuthaya", normal, 14px);
					color:$myGreen2;
				}
				div.link-box {
					margin-top:10px;
					margin-bottom:30px;
				}

				div.manif-details {
					p.link_or_image {
						text-align:center;
					}

					div#photos_gallery {
						background:$myGray;
						padding:10px;
						border-radius:4px;
						border:1px solid darken($myGray,20%);

						table tr td {
							border:1px solid $myOrange;
							text-align:center;
						}
					}
				}
			}
		}

		#footer {
			width:100%;
			background:$myGray;
			min-height:128px;
			display:block;
			margin-bottom:-10px;
			#credits {
				// text-align:center;
				font-size:11px;
				margin-left:10px;
				padding-top:10px;
				width:100%;
				div	{
					padding-top:10px;
					padding-left:10px;
					paddin-bottom:10px;
					border-left:1px solid darken($myGray,20%);
					float:left;
					width:31%;
					min-height:152px;
					text-align:center;
					vertical-align:center;
					display:inline-block;

					p#counter {
						width:70%;
						border-radius: 5px;
					  	border: 1px solid lighten($myGray, 40%);
					  	padding: 10px;
					  	margin-right:auto;
					  	margin-left:auto;
					  	display: block;
					  	text-align: center;
					  	background: -webkit-gradient(
					  		linear,
					  		left top,
					  		left bottom,
					  		from(#44cd18),
					  		to(#04713e)
					  	);
					  	background: -moz-linear-gradient(
					  		center bottom,
					  		#04713e,
					  		#44cd18 60%
					  	);
					  	color: $myYellow;
					  	font-weight: bold;
					    font-size:12px;
					}
				}
				div.last {
					border-right:1px solid darken($myGray,20%);
				}
				p.footer {
					text-align:center;
					padding-top:15px;
					padding-bottom:10px;
				}
			}
		}
	}
	
}