$myGray:#eef1f1;
$myYellow:#fdd001;
$myGreen:#111c07;
$myGreen2:#3a5f19;

@mixin custom-font($src, $family, $weight:bold, $size:1.8em, $style:normal) {
  font:{
    family: $family;
    weight:$weight;
    size:$size;
    src:$src;
    style:$style;
  };
}

@mixin menu-h3 {
	width:204px;
	height:36px;
	display:block;
	background:image-url("bg_h3.png") no-repeat;
	padding-left:10px;
	padding-top:5px;
	margin:0px;
}

@mixin buttons-style() {
  a.button {
  	border-radius: 5px;
  	border: 1px solid lighten($myGray, 40%);
  	padding: 10px;
  	text-decoration: none;
  	display: block;
  	text-align: center;
  	background: -webkit-gradient(
  		linear,
  		left top,
  		left bottom,
  		from(#44cd18),
  		to(#04713e)
  	);
  	background: -moz-linear-gradient(
  		center bottom,
  		#04713e,
  		#44cd18 60%
  	);
  	color: $myGray;
  	font-weight: bold;
    font-size:12px;

  	&:hover {
  	  background: -webkit-gradient(
    		linear,
    		left top,
    		left bottom,
    		from(#44cd18),
    		to(#37a715)
    	);
    	background: -moz-linear-gradient(
    		center bottom,
    		#37a715,
    		#44cd18 60%
    	);	
    	color: white;
  	}

  	&:active {
  	  -webkit-box-shadow: inset gray 0px 1px 1px;
    	-moz-box-shadow: inset gray 0px 1px 1px;
  	}
  }
}

.container {
	width:960px;
	margin-right:auto;
	margin-left:auto;
	display:block;
}

