<div class="span-16">
	<h1 class="section-title">Contacts</h1>
	
	<p>
		<b>Président : Mr GUILLOU Georges</b> - Tel : <b>0690 39 12 58</b>
		<br/><br/>
		<b>Correspondant administratif : Mr Legrave Jean-Denis</b> - Tel : <b>0590 99 38 81</b>
 	   Fax : <b>0590 99 38 29</b>
	</p>
	<p>

	</p>
</div>