<div class="span-16">
	<p>
	  <b>Nom:</b>
	  <%= @mission.nom %>
	</p>

	<p>
	  <b>Description:</b>
	  <%=simple_format @mission.description %>
	</p>


	<%= link_to 'Edit', edit_mission_path(@mission) %> |
	<%= link_to 'Back', missions_path %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	Right sidebar
</div>
