<div class="span-16">
  <h1 class="section-title">Modifier une Categorie</h1>

  <%= render :partial => 'form', :object => @category %>

  <%= link_to 'Voir', @category, :class => "btn btn-sm btn-success" %>
  <%= link_to 'Retour', categories_path, :class => "btn btn-sm" %>
</div>