<div class="span-16">
  <h1>Modifier une Categorie</h1>

  <%= render :partial => 'form', :object => @category %>

  <%= link_to 'Voir', @category, :class => "button small" %>
  <%= link_to 'Retour', categories_path, :class => "button small" %>
</div>