<div class="span-16">
  <h1>Liste des Categories</h1>

  <table>
    <tr>
      <th>Nom</th>
    </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= category.nom %></td>
      <td><%= link_to 'Modifier', edit_category_path(category), :class => "button small" %></td>
      <td><%= link_to 'Supprimer', category, :confirm => 'Sur de votre decision ?', :method => :delete, :class => "button small" %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'Ajouter une Categorie', new_category_path, :class => "button small midmedium" %>
</div>