<div class="span-16">
  <h1 class="section-title">Ajouter une categorie</h1>

  <%= render :partial => 'form', :object => @category %>


  <%= link_to 'Retour', categories_path, :class => "btn btn-sm" %>
</div>

<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>