<div class="span-16">
  <p>
    <b>Nom:</b>
    <%= @category.nom %>
  </p>

  <%= link_to 'Modifier', edit_category_path(@category), :class => "btn btn-sm btn-warning" %>
  <%= link_to 'Retour', categories_path, :class => "btn btn-sm" %>
</div>