<div class="span-16">
	<%= link_to 'Modifier', edit_evenement_path(@evenement) %> |
	<%= link_to 'Retour', evenements_path %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>